@use '../abstracts/' as *;

.container {
  --container-spacing-horizontal: #{toRem(24px)};

  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--container-spacing-horizontal);
  padding-right: var(--container-spacing-horizontal);

  @each $breakpoint, $value in $breakpoints {
    @include media-breakpoint(#{$breakpoint}) {
      @if $breakpoint == lg {
        --container-spacing-horizontal: 0;
      }

      max-width: map-get($containers, #{$breakpoint});
    }
  }

  &-fluid {
    max-width: 100%;
  }
}
