@use '../../../scss/abstracts/' as *;

.footer {
  --footer-vertical-space: #{toRem(54px)};
  --footer-horizontal-space: #{toRem(54px)};
  --footer-margin-space-bottom: #{toRem(72px)};

  margin-bottom: var(--footer-margin-space-bottom);

  > .row {
    flex-direction: column;
    justify-content: center;
    padding: var(--footer-vertical-space) var(--footer-horizontal-space);
    background-color: var(--dark-color-2);

    > a,
    > nav {
      margin-bottom: toRem(32px);
    }

    > a {
      img {
        width: toRem(218px) !important;
      }
    }
  }

  @include media-breakpoint(xl) {
    --footer-vertical-space: #{toRem(47px)};
    --footer-horizontal-space: #{toRem(84px)};
    --footer-margin-space-bottom: #{toRem(88px)};

    > .row {
      flex-direction: row;
      justify-content: flex-start;

      > a,
      > nav {
        margin-bottom: 0;
      }
    }
  }
}