@use '../../../scss/abstracts/' as *;

.card {
  padding: toRem(48px);
  border-radius: toRem(8px);

  &__content {
    text-align: center;

    h3 {
      margin-bottom: toRem(24px);
      font-size: toRem(40px);
    }
  }

  &[data-variant="cyan"] {
    background-color: var(--cyan-color-1);
  }

  &[data-variant="dark"] {
    background-color: var(--dark-color-2);
  }

  &[data-variant="two-tone"] {
    padding: 0;
    background: linear-gradient(90deg, var(--cyan-color-1) 0%, var(--cyan-color-1) 60%, var(--dark-color-2) 60%, var(--dark-color-2) 90%);
  }
}
