@use '../../../scss/abstracts/' as *;

.modal {
  &__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--dark-color-2-opacity-80);
    z-index: var(--zindex-modal-backdrop);
  }

  &__container {
    position: fixed;
    top: toRem(214px);
    left: calc(50% - toRem(270px));
    width: 100%;
    max-width: toRem(540px);
    background-color: var(--neutral-color-1);
    border-radius: toRem(8px);
    z-index: var(--zindex-modal);
    overflow: hidden;
  }

  &__header {
    padding: toRem(48px) toRem(56px);
    background-color: var(--dark-color-2);

    > * {
      color: var(--neutral-color-1);
    }
  }

  &__body {
    padding: toRem(56px);
  }
}
