@use '../abstracts/' as *;

.skeleton {
  --skeleton-spacing-top: #{toRem(72px)};
  --skeleton-spacing-bottom: #{toRem(48px)};
  --skeleton-spacing-horizontal: #{toRem(48px)};

  &[data-variant="hero"],
  &[data-variant="hero-page"],
  &[data-variant="article"],
  &[data-variant="content"],
  &[data-variant="list"],
  &[data-variant="card"] {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: var(--skeleton-spacing-top) var(--skeleton-spacing-horizontal) var(--skeleton-spacing-bottom) var(--skeleton-spacing-horizontal);
    background-color: var(--neutral-color-2);
    border-radius: toRem(10px);
  }

  &[data-variant="hero"],
  &[data-variant="hero-page"],
  &[data-variant="content"],
  &[data-variant="list"] {
    align-items: flex-start;
  }
  
  &[data-variant="hero"],
  &[data-variant="hero-page"] {
    > [data-variant="default"] {
      width: 50%;
    }
  }

  &[data-variant="hero"] {
    --skeleton-spacing-top: #{toRem(116px)};
    --skeleton-spacing-bottom: #{toRem(116px)};

    align-items: center;
  }

  &[data-variant="hero-page"] {
    --skeleton-spacing-top: #{toRem(137px)};
    --skeleton-spacing-bottom: #{toRem(137px)};
  }

  &[data-variant="article"] {
    --skeleton-spacing-top: #{toRem(100px)};
    --skeleton-spacing-bottom: #{toRem(100px)};
    --skeleton-spacing-horizontal: #{toRem(85px)};
  }

  &[data-variant="content"] {
    + [data-variant="content"] {
      margin-top: var(--skeleton-spacing-top);
    }
  }

  &[data-variant="image"] {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    [data-variant="thumbnail"] {
      --skeleton-element-width: #{toRem(455px)};
      --skeleton-element-height: #{toRem(520px)};
    }
  }

  &__element {
    --skeleton-element-width: 100%;
    --skeleton-element-height: #{toRem(16px)};
    --skeleton-element-spacing: #{toRem(12px)};

    --skeleton-button-element-spacing: #{toRem(30px)};

    position: relative;
    width: var(--skeleton-element-width);
    height: var(--skeleton-element-height);
    margin-bottom: var(--skeleton-element-spacing);
    background-color: var(--dark-color-3);
    border-radius: toRem(4px);
    overflow: hidden;

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 200%;
      height: 100%;
      content: '';
      background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%,rgba(255, 255, 255, 0.8) 50%,rgba(128, 186, 232, 0) 99%,rgba(125, 185, 232, 0) 100%);
      opacity: 0.5;
      transform: skew(-45deg) translateX(100%);
      z-index: 1;
      animation: shine 1s infinite 0.5s;
    }

    &[data-variant="default"] {
      &:last-child {
        --skeleton-element-width: 80%;
      }
    }

    &[data-variant="title-h1"],
    &[data-variant="title-h2"], 
    &[data-variant="title-h3"] {
      --skeleton-element-width: 40%;
      --skeleton-element-spacing: #{toRem(24px)};
    }

    &[data-variant="title-h1"] {
      --skeleton-element-height: #{toRem(72px)};
    }

    &[data-variant="title-h2"] {
      --skeleton-element-height: #{toRem(30px)};
    }

    &[data-variant="title-h3"] {
      --skeleton-element-height: #{toRem(24px)};
    }

    &[data-variant="thumbnail"] {
      --skeleton-element-width: #{toRem(100px)};
      --skeleton-element-height: #{toRem(100px)};
      --skeleton-element-spacing: #{toRem(24px)};
    }

    &[data-variant="button"] {
      --skeleton-element-width: #{toRem(216px)};
      --skeleton-element-height: #{toRem(54px)};

      margin-top: var(--skeleton-button-element-spacing);
    }
  }

  @include media-breakpoint(md) {
    &[data-variant="hero"] {
      align-items: flex-start;
    }
  }
}

@keyframes shine {
	0% {
    transform: skew(-45deg) translateX(-100%);
  }

	100% {
    transform: skew(-45deg) translateX(100%);
  }
}
