@use '../../../scss/abstracts/' as *;

.hero {
  --hero-spacing-top: #{toRem(100px)};
  --hero-spacing-bottom: #{toRem(120px)};

  --hero-body-width: 32ch;
  --hero-body-text-align: center;

  --hero-title-spacing-bottom: #{toRem(24px)};

  --hero-text-size: #{toRem(15px)};
  --hero-text-width: 32ch;
  --hero-text-spacing-bottom: #{toRem(40px)};
  --hero-text-align: center;

  margin-bottom: var(--hero-spacing-bottom);

  h1 {
    margin-bottom: var(--hero-title-spacing-bottom);
    color: var(--neutral-color-1);
    line-height: 1;
  }

  p {
    max-width: var(--hero-text-width);
    margin-bottom: var(--hero-text-spacing-bottom);
    color: var(--neutral-color-1-opacity-80);
    font-size: var(--hero-text-size);
    line-height: 1.7;
  }

  &__content {
    position: relative;
    border-radius: toRem(10px);
    overflow: hidden;
    
    img {
      width: 100%;
    }
  }

  &__body {
    position: absolute;
    top: var(--hero-spacing-top);
    left: calc(50% - (var(--hero-body-width) / 2));
    max-width: var(--hero-body-width);
    text-align: var(--hero-body-text-align);
  }

  @include media-breakpoint(md) {
    --hero-spacing-top: #{toRem(104px)};
    --hero-spacing-bottom: #{toRem(144px)};

    --hero-body-width: 45ch;
    --hero-body-text-align: left;

    --hero-text-width: 45ch;

    &__body {
      left: var(--content-spacing-horizontal);
    }
  }

  @include media-breakpoint(lg) {
    --hero-spacing-top: #{toRem(117px)};
    --hero-spacing-bottom: #{toRem(160px)};

    --hero-body-width: 55ch;

    --hero-title-spacing-bottom: #{toRem(32px)};
    
    --hero-text-size: #{toRem(16px)};
    --hero-text-spacing-bottom: #{toRem(56px)};
  }
}
