@use '../../../scss/abstracts/' as *;

.hero {
  --hero-spacing-top: #{toRem(100px)};
  --hero-content-width: 32ch;

  --hero-title-spacing-bottom: #{toRem(24px)};

  --hero-text-size: #{toRem(15px)};
  --hero-text-width: 32ch;
  --hero-text-spacing-bottom: #{toRem(40px)};
  --hero-text-align: center;
  
  position: relative;

  &__content {
    position: absolute;
    top: var(--hero-spacing-top);
    left: calc(50% - (var(--hero-content-width) / 2));
    max-width: var(--hero-content-width);
    text-align: var(--hero-text-align);

    h1 {
      margin-bottom: var(--hero-title-spacing-bottom);
      color: var(--neutral-color-1);
      line-height: 1;
    }

    > p {
      max-width: var(--hero-text-width);
      margin-bottom: var(--hero-text-spacing-bottom);
      color: var(--neutral-color-1-opacity-80);
      font-size: var(--hero-text-size);
      line-height: 1.6;
    }
  }

  &__image {
    width: 100%;
    border-radius: toRem(10px);
    overflow: hidden;
  }

  @include media-breakpoint(md) {
    --hero-spacing-top: #{toRem(104px)};
    --hero-content-width: 45ch;

    --hero-text-width: 45ch;
    --hero-text-align: left;

    &__content {
      left: var(--content-spacing-horizontal);
    }
  }

  @include media-breakpoint(lg) {
    --hero-spacing-top: #{toRem(117px)};
    --hero-content-width: 55ch;

    --hero-title-spacing-bottom: #{toRem(32px)};
    
    --hero-text-size: #{toRem(16px)};
    --hero-text-spacing-bottom: #{toRem(56px)};
  }
}
