@use '../../../scss/abstracts/' as *;

.header {
  --vertical-space-top: #{toRem(32px)};
  --vertical-space-bottom: #{toRem(40px)};

  > .row {
    justify-content: space-between;
    padding-top: var(--vertical-space-top);
    padding-bottom: var(--vertical-space-bottom);
  }

  @include media-breakpoint(md) {
    --vertical-space-top: #{toRem(40px)};
    --vertical-space-bottom: #{toRem(53px)};
  }

  @include media-breakpoint(xl) {
    --vertical-space-top: #{toRem(43px)};
    --vertical-space-bottom: #{toRem(43px)};
  }
}
