@use '../../../scss/abstracts/' as *;

.accordion {
  --base-accordion-title-font-size: #{toRem(24px)};
  --base-accordion-title-width: 13ch;

  --base-accordion-spacing-top: #{toRem(32px)};

  legend {
    width: 100%;
  }

  &__header {
    flex-wrap: nowrap;
    gap: 0;
    width: 100%;
    font-family: var(--font-family-black);
    font-size: var(--base-accordion-title-font-size);
    color: var(--dark-color-1);
    cursor: pointer;
    transition: color 0.25s ease-in-out;

    > span {
      max-width: var(--base-accordion-title-width);
    }

    > svg {
      flex-shrink: 0;
      margin-left: auto;
      transform-origin: center;
      transform: rotate(0deg);
      transition: transform 0.25s ease-in-out;
    }

    path {
      fill: var(--cyan-color-1);
      transition: fill 0.25s ease-in-out;
    }

    &-active {
      color: var(--dark-color-2-opacity-80);
      
      > svg {
        transform: rotate(-180deg);
      }
    }

    &:hover {
      color: var(--dark-color-2-opacity-80);

      path {
        fill: var(--cyan-color-2);
      }
    }

    &:disabled {
      color: var(--dark-color-3);
      cursor: not-allowed;
    }
  }

  &__panel {
    display: none;

    &--active {
      display: block;
      margin-top: var(--base-accordion-spacing-top);
    }
  }
  
  @include media-breakpoint(md) {
    --base-accordion-title-font-size: #{toRem(32px)};
    --base-accordion-title-width: unset;

    --base-accordion-spacing-top: #{toRem(40px)};
  }

  @include media-breakpoint(lg) {
    --base-accordion-title-font-size: #{toRem(40px)};

    --base-accordion-spacing-top: #{toRem(56px)};
  }
}