@use '../../../scss/abstracts/' as *;

.accordion {
  --title-font-size: #{toRem(40px)};

  &__toggle {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    font-family: var(--font-family-black);
    font-size: var(--title-font-size);
    color: var(--dark-color-1);
    cursor: pointer;

    > svg {
      margin-left: auto;
      transform-origin: center;
      transform: rotate(0deg);
      transition: transform 0.25s ease-in-out;
    }

    path {
      fill: var(--cyan-color-1);
      transition: fill 0.25s ease-in-out;
    }

    &-active {
      > svg {
        transform: rotate(-180deg);
      }
    }

    &:hover {
      path {
        fill: var(--cyan-color-2);
      }
    }

    &:disabled {
      color: var(--dark-color-3);
      cursor: not-allowed;
    }
  }

  &__dropdown {
    display: none;

    &-active {
      display: block;
      margin-top: toRem(56px);
    }
  }
}